/**
 * Fonts
 * @group css.base.fonts
 */

/*$font-regular: Arial, Helvetica, Sans-serif;
$font-bold: Arial, Helvetica, Sans-serif;

$LSfont-regular: 'Nunito', Helvetica, Sans-serif;
$LSfont-bold: 'Nunito', Helvetica, Sans-serif;*/
